@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #060608;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 100vh;
}
  
h1 {
  margin-top: 0;
  z-index: 4;
}

form {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
  z-index: 4;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  z-index: 5;
}

button[type="submit"] {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  z-index: 5;
}

#answer {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  z-index: 4;
}
.cloud {
  opacity: 0.8;
  width: 100%;
  max-width: 700px;
  height: auto;
}


#cloud1 {
  z-index: 1;
  position: absolute;
  top: -40px;
  left: -100px;
}

#cloud2 {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: -300px;
}

#cloud3 {
  z-index: 3;
  position: absolute;
  top: -400px;
  left: -200px;
}

#cloud4 {
  z-index: 4;
  position: absolute;
  top:-200px;
  left: 40px;
}
.img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

#b{
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}