body {
    background: linear-gradient(135deg, black, #220033);  overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
p {
    color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}