/* font style */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

body {
  /* background-color: white; */
  background-color: #bfdfec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-x;
  background-image: url("./images/cloud.png");
  animation: movement 10s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* cloud movement */
@keyframes movement {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 560px 0;
  }
}

h1 {
  color: white;
  font-family: "Henny Penny", cursive;
  font-style: normal;
  margin: auto;
  display: grid;
  letter-spacing: 0.0015em;
  text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff, -2px 3px #8da1ff, -3px 2px #c0cbff,
    -3px 4px #8da1ff, -4px 3px #c0cbff, -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
    -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
  text-align: center;
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
}

h2,
h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

p {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-shadow: 2px 2px #687bd2;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.button {
  background-image: url("images/button.png");
  width: 128px;
  border: 0px;
  margin: 7px 0 5px 7px;
  padding: 3px 0 6px 0;
  cursor: hand;
  cursor: pointer;
  color: #9fad19;
  font-family: Tahoma;
  font-size: 11px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: black;
  padding: 20px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0 0 0 / 20%);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

#generate-btn {
  background-image: linear-gradient(to right, #70c4e9, #6b99e9, #04befe, #72a2ea);
  box-shadow: 0 4px 15px 0 rgba(65 132 234 75%);
  margin-top: 25px;
  text-align: center;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

#generate-btn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

#generate-btn:focus {
  outline: none;
}

/* style of the nav section */
.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  margin-top: 30px; /* Adjust the value as needed */
  max-width: 100%;
  background-color: #fff;
  padding: 0 40px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159 162 177 80%);
}

.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #7192ec;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover::before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (width <=580px) {
  .nav {
    overflow: auto;
  }
}

#display {
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-right: 10px;
}

.to-show {
  display: none;
}

.to-show.show {
  display: block;
}

.history-item-img {
  width: 50px;
  height: 100px;
  padding-right: 10px;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-item {
  display: flex;
  align-items: center;
}

.history-item-text {
  padding-right: 10px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 50%);
  align-items: center;
  justify-content: center;
}

/* Style for the popup box */
.popup-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0 0 0 30%);
}

#display-img-left {
  position: absolute;
  top: 0;
  left: 8%;
  width: 250px;
  height: 250px;
}

#display-img-mid {
  position: absolute;
  top: 0;
  left: 13%;
  width: 250px;
  height: 250px;
}

#display-img-right {
  position: absolute;
  top: 0;
  left: 18%;
  width: 250px;
  height: 250px;
}


#display-back-left,
#display-back-mid,
#display-back-right {
  width: 350px;
  height: 390px;
}

/* flip function */
.animation {
  transition: all 0.3s ease;
}

.card-container {
  transition: all 0.3s ease;
  perspective: 800px;
  /* padding-left: 1%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cardflip {
  width: 99%;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardflip.flipped {
  transform: rotateY(180deg);
}

.cardflip .front,
.cardflip .back {
  display: block;
  /* height: 100%;
    width: 100%;
    line-height: 60px;
    color: white;  */
  text-align: center;
  /* font-size: 4em; */
  backface-visibility: hidden;
}

.cardflip.flipped .front {
  opacity: 0;
  transition: opacity 1s;
}

.cardflip .back {
  /* margin-top: -30px;
    padding-top: 10%; */
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  white-space: nowrap;
  transform: rotateY(180deg);
}

@media (max-width: 1000px) {
  .cardflip {
    height: 175px;
  }
}

@media (max-width: 390px) {
  .cardflip {
    width: 100%;
    height: 150px;
  }

  .cardWrapper {
    margin-left: 4%;
  }
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
}

textarea {
  border-radius: 15px;
  font-size: 17px;
  /* color: #8da1ff; */
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  border: none;
  resize: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background: rgb(197, 235, 253);
  background: linear-gradient(180deg, rgba(197, 235, 253, 1) 0%, rgba(167, 230, 251, 1) 99%);
}
#history {
  align-items: start;
}

#meaning {
  display: flex;
  width: 750px;
  overflow: hidden;
}

#meaning p {
  font-size: 16px;
  color: #000;
  text-shadow: none;
}

#meaning,
.card-container {
  width: 750px;
}

#question-list {
  margin-top: 0;
  background-color: #fff;
  padding: 16px;
  font-family: "DM Sans", sans-serif;
  color: #83818c;
  font-weight: bold;
  border-radius: 30px;
}

#question-list option:selected {
  background-color: #83818c;
}

/* card hover */

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
}

.cardflip:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateY(20deg) translateZ(0);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
}

.cardflip:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.cardflip:hover .wrapper::after {
  height: 120px;
}
